<a href="https://colab.research.google.com/github/MarciaGodoy/UFRGS/blob/main/godoy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Machine** **Learning** **aplicado** **à** **saúde**

# Base de dados 1: SINASC
OBJETIVO: identificar as caracteristicas(features) associadas ao tipo de parto e/ou baixo peso ao nascer. 
METODOLOGIA: 
a) Bases de dados utilizadas: 
1) O Sistema de Informações sobre Nascidos Vivos (SINASC) foi implantado oficialmente a partir de 1990, com o objetivo de coletar dados sobre os nascimentos ocorridos em todo o território nacional e fornece os microdados de todos os nascimentos. Os dados são desidentificados para não permitir a identificação da parturiente e recem-nascido. 

2) Cadastro Nacional de Estabelecimentos de Saúde (CNES)

b) Métodos de estimação: regressão logistica, gradiente boosting, KNN


Unidade geografica analisada: Porto Alegre - RS
período dos dados: 01-2018 a 12-2020


DESCRIÇÃO DA BASE DE DADOS: O Sistema de Informações sobre Nascidos Vivos (Sinasc), foi implantado em 1990, com o objetivo de coletar dados sobre os nascimentos informados em todo território nacional e fornecer dados sobre natalidade para todos os níveis do Sistema de Saúde. 
O SINASC contém dados socioeconômicos, local de residência e ocorrência, anomalias congênitas, parto e pré natal e estão disponíveis os microdados de 1996 a 2020.

ASPECTOS DA BASE DE DADOS: No período analisado nasceram 405.385 bebês no Rio Grande do Sul. Na capital gaúcha, Porto Alegre foram registrados 80.634 nascimentos, sendo que aS mães de 49.421 nascidos vivos residiam na cidade. Foram excluídos os dados de recém-nascidos oriundos de outras cidades, pois a gravidade dos casos enviados à capital pode viesar a análise. 


O dicionário das variaveis está disponível [aqui](https://opendatasus.saude.gov.br/dataset/sistema-de-informacao-sobre-nascidos-vivos-sinasc-1996-a-2020)

In [135]:
###Rotina em R
# usando pacote microdatasus (SALDANHA et al, 2019)

######################################################################################
##############################  INICIAL  #############################################
######################################################################################
# PACOTE UTILIZADO PARA DOWNLOAD E PRÉ-PROCESSAMENTO DE DADOS
# "Microdatasus: pacote para download e pré-processamento de microdados do Departamento de Informática do SUS (DATASUS)"
#cff-version: 1.2.0
#message: "If you use this software, please cite it as below."
#authors:
#- family-names: "Saldanha"
#  given-names: "Raphael de Freitas"
#  orcid: "http://orcid.org/0000-0003-0652-8466"
#- family-names: "Bastos"
#  given-names: "Ronaldo Rocha"
#  orcid: "http://orcid.org/0000-0001-9597-5967"
#- family-names: "Barcellos"
#  given-names: "Christovam"
#  orcid: "http://orcid.org/0000-0002-1161-2753"
#title: "Microdatasus: pacote para download e pré-processamento de microdados do Departamento de Informática do SUS (DATASUS)"
#version: 1.0.0
#doi: 10.1590/0102-311X00032419
#date-released: 2019-09-16
#url: "http://ref.scielo.org/dhcq3y"

# **WEB** **SCRAPPING**

## Instalação de bibliotecas necessárias

Essa etapa é demorada. Assim, retire os pacotes não essenciais.

In [136]:
####################
##INSTALAR PACOTES
install.packages("read.dbc")
install.packages("devtools")
devtools::install_github("rfsaldanha/microdatasus")
install.packages("remotes")
#remotes::install_github("rfsaldanha/microdatasus") # apenas 1 vez na maquina


###################

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘textshaping’, ‘ragg’, ‘pkgdown’


Warning message in install.packages("devtools"):
“installation of package ‘textshaping’ had non-zero exit status”
Warning message in install.packages("devtools"):
“installation of package ‘ragg’ had non-zero exit status”
Warning message in install.packages("devtools"):
“installation of package ‘pkgdown’ had non-zero exit status”
Warning message in install.packages("devtools"):
“installation of package ‘devtools’ had non-zero exit status”
Skipping install of 'microdatasus' from a github remote, the SHA1 (959bdf10) has not changed since last install.
  Use `force = TRUE` to force installation

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [137]:
install.packages(c("dplyr", "stringr", "rio", "read.dbc", "readxl", "writexl", "data.table"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [138]:
install.packages(c("tydiverse", "tidyr", "dplyr", "lubridate"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message:
“package ‘tydiverse’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages”

In [139]:
#install.packages(c("gtsummary", "gt", "gmodels", "ggplot2", "plm"))

In [140]:
#install.packages(c(, "caret", "xgboost", "glmnet", "rpart", "Matrix", "quantmod"))

In [141]:
install.packages(c("lattice", "fastDummies", "stargazer", "skimr", "magrittr"))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [142]:
install.packages(c("zoo", "pacman", "sandwich", "recipes", "msm" ))

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# Carregandos os pacotes necessários

In [143]:
# carregando os pacotes 
library(rio) # importar base de dados de diferentes extensoes
library(read.dbc)#ler arquivos sus
library(readxl)#ler excel
library(writexl)#salvar excel
library(tidyr) # comando replace_na
library(dplyr) # manipular base de dados usando %>%
library(lubridate) # trabalhar com data
library(gtsummary) # tabelas
#library(gt) # nota de rodapé na tabela
library(gmodels)#tabelas
library(ggplot2) # graficos
library(devtools)
library(tidyverse)
library(data.table)
#library(caret)#KNN , CLASSIFICAÇÃO
#library(xgboost) #classificacao
#library(glmnet)
library(rpart)
library(Matrix)
library(quantmod)
library(lattice)
library(microdatasus) #pacote de extracao de dados do datasus
library(fastDummies) 
library(stargazer)
library(skimr)#faz resumo das variaveis
library(stringr) #para trabalhar com texto, caracteres , extracao 
library(magrittr)
library(zoo)
if (!require("pacman")) install.packages("pacman")
pacman::p_load(recipes) 
library(recipes)
require(sandwich)
require(msm)
#library(plm)

Definindo diretório de trabalho na máquina

In [144]:

#################
##  IMPORTANDO BASE DE DADOS -webscrapping
#################
dados <- fetch_datasus(year_start = 2018, year_end = 2020, uf = "RS", information_system = "SINASC")

Your local Internet connection seems to be ok.

DataSUS FTP server seems to be up. Starting download...

Cuidado> veja a formatação das datas 
estrutura =  ddmmaaaa ; format = "%d%m%YY

dados$DTNASC[1:10] # ddmmaaaa
 verifique formato de data

In [145]:
str(dados)

'data.frame':	405385 obs. of  61 variables:
 $ ORIGEM    : Factor w/ 2 levels "1","2": 1 1 1 1 1 1 1 1 1 1 ...
 $ CODESTAB  : Factor w/ 526 levels "0000296","2058391",..: 278 244 298 306 310 10 290 9 234 284 ...
 $ CODMUNNASC: Factor w/ 408 levels "110004","170950",..: 2 3 4 5 6 7 8 9 10 10 ...
 $ LOCNASC   : Factor w/ 5 levels "1","2","3","4",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ IDADEMAE  : Factor w/ 49 levels "11","12","13",..: 10 18 28 23 21 7 25 7 21 33 ...
 $ ESTCIVMAE : Factor w/ 6 levels "1","2","3","4",..: 5 1 1 5 1 1 2 1 1 5 ...
 $ ESCMAE    : Factor w/ 6 levels "1","2","3","4",..: 4 5 5 4 3 4 5 3 5 5 ...
 $ CODOCUPMAE: Factor w/ 1482 levels "010205","010210",..: 1113 266 363 1091 1113 1113 269 NA 152 269 ...
 $ QTDFILVIVO: Factor w/ 17 levels "00","01","02",..: 3 1 2 2 3 1 1 1 1 1 ...
 $ QTDFILMORT: Factor w/ 14 levels "00","01","02",..: 1 1 NA NA 1 1 1 1 1 1 ...
 $ CODMUNRES : Factor w/ 497 levels "430003","430005",..: 193 440 326 96 485 62 163 103 365 326 ...
 $ GESTACAO  : Factor w/ 6 levels "1","2","3","4",..: 5 5 5 5 5 5 5 4 1 5 ...
 $ GRAVIDEZ  : Factor w/ 4 levels "1","2","3","9": 1 1 1 1 1 1 1 1 2 1 ...
 $ PARTO     : Factor w/ 3 levels "1","2","9": 1 2 2 1 2 2 2 2 1 2 ...
 $ CONSULTAS : Factor w/ 5 levels "1","2","3","4",..: 3 4 4 4 5 4 4 3 2 4 ...
 $ DTNASC    : Factor w/ 1096 levels "01012018","01022018",..: 206 124 85 62 193 220 3 359 205 99 ...
 $ HORANASC  : Factor w/ 1441 levels "0000","0001",..: 411 201 899 423 299 1267 458 628 1016 462 ...
 $ SEXO      : Factor w/ 3 levels "0","1","2": 3 3 3 3 3 2 3 3 3 2 ...
 $ APGAR1    : Factor w/ 12 levels "00","01","02",..: 10 7 10 10 2 4 10 9 2 11 ...
 $ APGAR5    : Factor w/ 12 levels "00","01","02",..: 11 9 11 11 6 9 11 10 6 11 ...
 $ RACACOR   : Factor w/ 5 levels "1","2","3","4",..: 4 4 NA 4 2 1 1 4 1 1 ...
 $ PESO      : Factor w/ 3125 levels "0250","0260",..: 1465 325 1412 2008 475 808 1486 1112 33 1466 ...
 $ IDANOMAL  : Factor w/ 3 levels "1","2","9": 2 2 NA 2 2 2 2 NA 2 2 ...
 $ DTCADASTRO: Factor w/ 1144 levels "01012007","01012019",..: 264 201 73 57 284 433 127 125 19 360 ...
 $ CODANOMAL : Factor w/ 815 levels "D180","D180Q039",..: NA NA NA NA NA NA NA NA NA NA ...
 $ NUMEROLOTE: Factor w/ 325 levels "20180001","20180002",..: 35 15 4 10 4 139 5 3 24 54 ...
 $ VERSAOSIST: Factor w/ 4 levels "3.2.00","3.2.01",..: 1 2 2 2 1 2 2 2 2 2 ...
 $ DTRECEBIM : Factor w/ 930 levels "01022018","01022019",..: 259 174 280 79 319 389 172 235 58 324 ...
 $ DIFDATA   : Factor w/ 734 levels "000","001","002",..: 242 2 43 60 6 526 12 17 19 14 ...
 $ DTRECORIGA: Factor w/ 0 levels: NA NA NA NA NA NA NA NA NA NA ...
 $ NATURALMAE: Factor w/ 27 levels "811","812","813",..: 8 8 23 15 23 17 17 26 19 23 ...
 $ CODMUNNATU: Factor w/ 2566 levels "110000","110001",..: 135 147 1427 386 1583 521 518 1691 612 1108 ...
 $ CODUFNATU : Factor w/ 27 levels "11","12","13",..: 8 8 23 15 23 17 17 26 19 23 ...
 $ ESCMAE2010: Factor w/ 7 levels "0","1","2","3",..: 4 6 5 4 3 4 6 3 6 6 ...
 $ SERIESCMAE: Factor w/ 8 levels "1","2","3","4",..: 1 NA NA NA NA 2 NA 7 NA NA ...
 $ DTNASCMAE : Factor w/ 12373 levels "01011972","01011973",..: 1667 9627 2671 10519 1624 1638 6180 396 9653 6050 ...
 $ RACACORMAE: Factor w/ 5 levels "1","2","3","4",..: 4 4 NA 4 2 1 1 4 1 1 ...
 $ QTDGESTANT: Factor w/ 18 levels "00","01","02",..: 3 1 2 2 3 1 1 1 1 1 ...
 $ QTDPARTNOR: Factor w/ 17 levels "00","01","02",..: 1 1 NA 2 3 1 1 1 1 1 ...
 $ QTDPARTCES: Factor w/ 14 levels "00","01","02",..: 3 1 2 NA 1 1 1 1 1 1 ...
 $ IDADEPAI  : Factor w/ 81 levels "14","15","16",..: 30 NA NA NA NA NA 19 NA 16 31 ...
 $ DTULTMENST: Factor w/ 1194 levels "01012018","01022018",..: NA 268 170 NA NA NA NA 445 301 387 ...
 $ SEMAGESTAC: Factor w/ 27 levels "19","20","21",..: 21 20 20 22 22 19 21 16 3 22 ...
 $ TPMETESTIM: Factor w/ 4 levels "1","2","8","9": 4 3 3 4 1 2 2 3 3 3 ...
 $ CONSPRENAT: Factor w/ 45 levels "00","01","02",..: 7 8 9 8 41 9 11 6 3 13 ...
 $ MESPRENAT : Factor w/ 10 levels "01","02","03",..: 3 2 2 4 10 1 1 3 2 2 ...
 $ TPAPRESENT: Factor w/ 4 levels "1","2","3","9": 1 2 1 1 2 1 1 1 1 1 ...
 $ STTRABPART: Factor w/ 3 levels "1","2","9": 2 2 2 1 2 2 2 2 2 1 ...
 $ STCESPARTO: Factor w/ 4 levels "1","2","3","9": 3 2 1 3 2 2 2 1 3 2 ...
 $ TPNASCASSI: Factor w/ 5 levels "1","2","3","4",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ TPFUNCRESP: Factor w/ 6 levels "0","1","2","3",..: 3 6 3 3 3 3 3 3 6 5 ...
 $ TPDOCRESP : Factor w/ 6 levels "0","1","2","3",..: 4 6 4 4 4 4 4 1 5 6 ...
 $ DTDECLARAC: Factor w/ 1108 levels "01012018","01012019",..: 215 132 92 67 201 241 17 16 226 119 ...
 $ ESCMAEAGR1: Factor w/ 13 levels "00","01","02",..: 6 9 8 13 12 6 9 4 9 9 ...
 $ STDNEPIDEM: Factor w/ 1 level "0": 1 1 1 1 1 1 1 1 1 1 ...
 $ STDNNOVA  : Factor w/ 2 levels "0","1": 2 2 2 2 2 2 2 2 2 2 ...
 $ CODPAISRES: Factor w/ 1 level "1": 1 1 1 1 1 1 1 1 1 1 ...
 $ TPROBSON  : Factor w/ 11 levels "01","02","03",..: 5 6 5 4 7 1 1 10 8 2 ...
 $ PARIDADE  : Factor w/ 2 levels "0","1": 2 1 2 2 2 1 1 1 1 1 ...
 $ KOTELCHUCK: Factor w/ 6 levels "1","2","3","4",..: 4 5 5 2 6 5 5 3 2 5 ...
 $ CONTADOR  : Factor w/ 362447 levels "1076417","1087577",..: 72843 72846 72858 140040 140041 140042 140043 140044 140045 140046 ...
 - attr(*, "data_types")= chr [1:61] "C" "C" "C" "C" ...

# **PRÉ-PROCESSAMENTO**

In [146]:
head(dados, n = 10) #apresenta as primeiras linhas do objeto

   ORIGEM CODESTAB CODMUNNASC LOCNASC IDADEMAE ESTCIVMAE ESCMAE CODOCUPMAE
1  1      2786109  170950     1       20       5         4      999992
2  1      2452383  210530     1       28       1         5      239415
3  1      3242587  230440     1       38       1         5      262105
4  1      3559629  280570     1       33       5         4      862150
5  1      3956369  292740     1       31       1         3      999992
6  1      2143852  310510     1       17       1         4      999992
7  1      3019063  313670     1       35       2         5      241005
8  1      2100754  314700     1       17       1         3      NA
9  1      2270021  330455     1       31       1         5      223115
10 1      2814188  330455     1       43       5         5      241005
   QTDFILVIVO QTDFILMORT ⋯ TPDOCRESP DTDECLARAC ESCMAEAGR1 STDNEPIDEM STDNNOVA
1  02         00         ⋯ 3         18022018   05         0          1
2  00         00         ⋯ 5         11042018   08         0          1
3  01         NA         ⋯ 3         08012018   07         0          1
4  01         NA         ⋯ 3         06022018   12         0          1
5  02         00         ⋯ 3         17012018   11         0          1
6  00         00         ⋯ 3         20042018   05         0          1
7  00         00         ⋯ 3         02032018   08         0          1
8  00         00         ⋯ 0         02022018   03         0          1
9  00         00         ⋯ 4         19012018   08         0          1
10 00         00         ⋯ 5         10032018   08         0          1
   CODPAISRES TPROBSON PARIDADE KOTELCHUCK CONTADOR
1  1          05       1        4          147442
2  1          06       0        5          178325
3  1          05       1        5          255500
4  1          04       1        2          476589
5  1          07       1        9          551906
6  1          01       0        5          589402
7  1          01       0        5          657667
8  1          10       0        3          679981
9  1          08       0        2          819542
10 1          02       0        5          832391

In [147]:
names(dados)

 [1] "ORIGEM"     "CODESTAB"   "CODMUNNASC" "LOCNASC"    "IDADEMAE"
 [6] "ESTCIVMAE"  "ESCMAE"     "CODOCUPMAE" "QTDFILVIVO" "QTDFILMORT"
[11] "CODMUNRES"  "GESTACAO"   "GRAVIDEZ"   "PARTO"      "CONSULTAS"
[16] "DTNASC"     "HORANASC"   "SEXO"       "APGAR1"     "APGAR5"
[21] "RACACOR"    "PESO"       "IDANOMAL"   "DTCADASTRO" "CODANOMAL"
[26] "NUMEROLOTE" "VERSAOSIST" "DTRECEBIM"  "DIFDATA"    "DTRECORIGA"
[31] "NATURALMAE" "CODMUNNATU" "CODUFNATU"  "ESCMAE2010" "SERIESCMAE"
[36] "DTNASCMAE"  "RACACORMAE" "QTDGESTANT" "QTDPARTNOR" "QTDPARTCES"
[41] "IDADEPAI"   "DTULTMENST" "SEMAGESTAC" "TPMETESTIM" "CONSPRENAT"
[46] "MESPRENAT"  "TPAPRESENT" "STTRABPART" "STCESPARTO" "TPNASCASSI"
[51] "TPFUNCRESP" "TPDOCRESP"  "DTDECLARAC" "ESCMAEAGR1" "STDNEPIDEM"
[56] "STDNNOVA"   "CODPAISRES" "TPROBSON"   "PARIDADE"   "KOTELCHUCK"
[61] "CONTADOR"

# Salvando os dados brutos

In [148]:
# selecionando as variaveis de interesse e municipio : 
# filtro: Municipio de Residencia (CODMUNRES) == PORTO ALEGRE : 431490

sinasc <- dados %>% filter( CODMUNNASC == "431490" & CODMUNRES =="431490" ) %>% 
  select("CONTADOR", "DTNASC", "CODESTAB", "CODMUNNASC", "CODMUNRES",
         "SEXO", "PESO",  "RACACOR", "SEMAGESTAC","PARIDADE",
         "PARTO", "TPAPRESENT", "APGAR1",
         "IDADEMAE", "IDADEPAI","ESTCIVMAE", "ESCMAE", "ESCMAE2010", "RACACORMAE", 
         "LOCNASC",   
         "GESTACAO", "CONSULTAS","CONSPRENAT",   "GRAVIDEZ", 
         "QTDGESTANT", "QTDPARTNOR", "QTDPARTCES", 
         "TPROBSON",  "KOTELCHUCK" )

In [149]:
save(dados, file = "dados_nasc_RS.RData")
write.table(dados, file = "dados_RS_bruto.csv", sep = ",", na = "", quote = TRUE, row.names=FALSE )

In [150]:
##pre processamento
sinasc <- process_sinasc(sinasc) #COM PRE PROCESSAMENTO OCORRE ADIÇaO DE VARIAVEIS

In [151]:
glimpse(sinasc) ###mostra parte do bd

Rows: 49,422
Columns: 37
$ CONTADOR     <chr> "1323003", "1323004", "1323005", "1323006", "1323009", "1…
$ DTNASC       <chr> "2018-02-02", "2018-02-02", "2018-02-01", "2018-02-01", "…
$ CODESTAB     <chr> "2237822", "2237822", "2237822", "2237822", "2237822", "2…
$ CODMUNNASC   <chr> "431490", "431490", "431490", "431490", "431490", "431490…
$ CODMUNRES    <chr> "431490", "431490", "431490", "431490", "431490", "431490…
$ SEXO         <chr> "Masculino", "Feminino", "Feminino", "Feminino", "Masculi…
$ PESO         <chr> "2700", "3040", "2700", "4015", "2615", "2405", "3375", "…
$ RACACOR      <chr> "Parda", "Branca", "Amarela", "Branca", "Branca", "Branca…
$ SEMAGESTAC   <chr> "38", "40", "31", "43", "42", "38", "40", "37", "36", "39…
$ PARIDADE     <chr> "1", "2", "1", "2", "1", "1", "1", "1", "2", "1", "2", "1…
$ PARTO        <chr> "Vaginal", "Vaginal", "Vaginal", "Cesáreo", "Vaginal", "V…
$ TPAPRESENT   <chr> "1", "1", "1", "3", "1", "1", "1", "1", "1", "1", "1", "1…
$ APGAR1       <chr> "8", "9", "9", "8", "7", "4", "9", "8", "8", "9", "4", "8…
$ IDADEMAE     <chr> "29", "31", "19", "35", "18", "29", "24", "16", "26", "39…
$ IDADEPAI     <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, "42", NA, NA,…
$ ESTCIVMAE    <chr> "Solteira", "Casada", "União consensual", "Solteira", "So…
$ ESCMAE       <chr> "8 a 11 anos", "4 a 7 anos", "12 anos ou mais", "8 a 11 a…
$ ESCMAE2010   <chr> "3", "2", "4", "3", "3", NA, "3", "2", "3", "5", "2", "4"…
$ RACACORMAE   <chr> "Parda", "Branca", "Amarela", "Branca", "Branca", "Branca…
$ LOCNASC      <chr> "Hospital", "Hospital", "Hospital", "Hospital", "Hospital…
$ GESTACAO     <chr> "37 a 41 semanas", "37 a 41 semanas", "28 a 31 semanas", …
$ CONSULTAS    <chr> "7 ou mais vezes", "7 ou mais vezes", "4 a 6 vezes", "7 o…
$ CONSPRENAT   <chr> "10", "15", "5", "14", "11", "1", "11", "5", "12", "11", …
$ GRAVIDEZ     <chr> "única", "única", "única", "única", "única", "única", "ún…
$ QTDGESTANT   <chr> "1", "4", "1", "3", "1", NA, "1", "1", "3", "1", "3", "1"…
$ QTDPARTNOR   <chr> "1", "1", "1", "2", "1", NA, "1", "1", "3", "1", "3", "1"…
$ QTDPARTCES   <chr> "1", "2", "1", "2", "1", NA, "1", "1", "1", "1", "1", "1"…
$ TPROBSON     <chr> "1", "5", "10", "9", "1", "1", "2", "1", "10", "2", "3", …
$ KOTELCHUCK   <chr> "5", "5", "3", "5", "5", "1", "5", "2", "5", "5", "5", "5…
$ munResStatus <chr> "ATIVO", "ATIVO", "ATIVO", "ATIVO", "ATIVO", "ATIVO", "AT…
$ munResTipo   <chr> "MUNIC", "MUNIC", "MUNIC", "MUNIC", "MUNIC", "MUNIC", "MU…
$ munResNome   <chr> "Porto Alegre", "Porto Alegre", "Porto Alegre", "Porto Al…
$ munResUf     <chr> "Rio Grande do Sul", "Rio Grande do Sul", "Rio Grande do …
$ munResLat    <chr> "-30.03004", "-30.03004", "-30.03004", "-30.03004", "-30.…
$ munResLon    <chr> "-51.22866", "-51.22866", "-51.22866", "-51.22866", "-51.…
$ munResAlt    <chr> "42", "42", "42", "42", "42", "42", "42", "42", "42", "42…
$ munResArea   <chr> "496.682", "496.682", "496.682", "496.682", "496.682", "4…

In [152]:
####resume todas as variaveis
sumarioPOA <- skim(sinasc) #fornece descriçao do banco de dados - missings, taxa de completude, maiores valores
#observe que todas as variaveis estao como factor. entao e necessario reclassificar

In [153]:
####
## - RECLASSIFICAR AS VARIAVEIS
####
sinasc <- sinasc %>%
  mutate(#categoricas
    
    ESTCIVMAE =  as.factor(ESTCIVMAE), 
    ESCMAE = as.factor(ESCMAE),
    ESCMAE2010 = as.factor(ESCMAE2010),
    GESTACAO = as.factor(GESTACAO),
    GRAVIDEZ = as.factor(GRAVIDEZ),
    PARTO = as.factor(PARTO),
    RACACORMAE = as.factor(RACACORMAE), 
    RACACOR = as.factor(RACACOR),
    SEXO =  as.factor(SEXO), 
    PARIDADE = as.factor(PARIDADE),
    CONSULTAS = as.factor(CONSULTAS),#classe
    
    #númericas
    IDADEMAE = as.character(IDADEMAE),
    IDADEMAE = as.numeric(IDADEMAE),
    IDADEPAI = as.character(IDADEPAI),
    IDADEPAI = as.numeric(IDADEPAI),
    CONSPRENAT = as.numeric(CONSPRENAT),#número
    SEMAGESTAC = as.numeric(SEMAGESTAC),
    QTDPARTCES = as.numeric(QTDPARTCES),
    QTDGESTANT = as.numeric(QTDGESTANT),
    QTDPARTNOR = as.numeric(QTDPARTNOR),
    TPROBSON = as.numeric(TPROBSON),
    KOTELCHUCK = as.numeric(KOTELCHUCK),
    APGAR1 = as.numeric(KOTELCHUCK),
    PESO = as.numeric(PESO))
#%>%

In [154]:
levels(sinasc$LOCNASC)
levels(sinasc$ESTCIVMAE)
levels(sinasc$ESCMAE)
levels(sinasc$GESTACAO)
levels(sinasc$GRAVIDEZ)
levels(sinasc$CONSULTAS)
levels(sinasc$PARTO)
levels(sinasc$RACACORMAE)
levels(sinasc$SEXO)

NULL

[1] "Casada"                 "Separada judicialmente" "Solteira"
[4] "União consensual"       "Viúva"

[1] "1 a 3 anos"      "12 anos ou mais" "4 a 7 anos"      "8 a 11 anos"
[5] "Nenhum"

[1] "22 a 27 semanas"     "28 a 31 semanas"     "32 a 36 semanas"
[4] "37 a 41 semanas"     "42 semanas ou mais"  "Menos de 22 semanas"

[1] "Dupla"         "Tripla e mais" "única"

[1] "1 a 3 vezes"     "4 a 6 vezes"     "7 ou mais vezes" "Nenhuma"

[1] "Cesáreo" "Vaginal"

[1] "Amarela"  "Branca"   "Indígena" "Parda"    "Preta"

[1] "Feminino"  "Masculino"

In [155]:
summary(sinasc$PARTO)

Cesáreo Vaginal
  24352   25070

In [156]:
sinasc <- sinasc %>% ##deixou de funcionar - apresenta erro em cesaria
    mutate(PARTO = factor(PARTO, levels  = c("Vaginal", "Cesáreo","Ignorado", "Nao preenchido"))) %>%
  mutate(PARTO = replace_na(PARTO, "Nao preenchido"))
table(sinasc$PARTO)

       Vaginal        Cesáreo       Ignorado Nao preenchido
         25070          24352              0              0

In [157]:
sinasc <- sinasc %>%
  mutate( 
    ESTCIVMAE =  recode(ESTCIVMAE,
                        "1"= "Solteira",
                        "2"= "Casada",
                        "3"= "Viúva",
                        "4"= "Separada judicialmente/divorciada",
                        "5"= "Uniao estavel",
                        "9"= "Ignorado"), 
    
    GESTACAO = recode(GESTACAO,
                      "1"= "Menos de 22 semanas",
                      "2"= "22 a 27 semanas",
                      "3"= "28 a 31 semanas",
                      "4"= "32 a 36 semanas",
                      "5"= "37 a 41 semanas",
                      "6"= "42 semanas e mais",
                      "9"= "Ignorado"),
    GRAVIDEZ = recode(GRAVIDEZ,
                      "1"= "Unica",
                      "2"= "Dupla",
                      "3"= "Tripla ou mais",
                      "9"= "Ignorado"),
    CONSULTAS = recode(CONSULTAS,
                       "1"= "Nenhuma",
                       "2"= "de 1 a 3",
                       "3"= "de 4 a 6",
                       "4"= "7 e mais",
                       "9"= "Ignorado"),
    RACACORMAE = recode(RACACORMAE,
                        "1"= "Branca",
                        "2"= "Preta",
                        "3"= "Amarela",
                        "4"= "Parda",
                        "5"= "Indigena"),
    SEXO =  recode(SEXO, 
                   "0"= "Ignorado",
                   "1"= "Feminino",
                   "2"= "Masculino"),
    PARTO = recode(PARTO,
     #             "1"= "Vaginal" ,
          "2"= "Cesareo",
                "9"= "Ignorado"),
    
    PARIDADE = recode(PARIDADE,
                      "1" = "Multipara",
                      "2" = "Nulipara"))

In [158]:
#criando dummies
####DUMMIES E VARIAVEIS DERIVADAS
sinasc$sexo_d <- sinasc$SEXO
# OBS 1: SEXO - 1 = Masculino ; 2 = Feminino
sinasc["sexo_d"][sinasc["sexo_d"] == "0"] <- "" #ignorado fica em branco
sinasc["sexo_d"][sinasc["sexo_d"] == "2"] <- "0" # 2 (fem) transf em 0 
sinasc <- sinasc %>%
  mutate(sexo_d = as.factor(sexo_d)) #as.factor e usado para categorias

Para realizar a junção do bd CNES com os dados do SINASC é necessário ter
variaveis identificadoras para parsear os dados. As variaveis serão CODESTAB e datacompleta. Assim, é necessário criar uma variavel com ano-mês-dia igual nos dois bancos de dados

In [159]:
###gerando artificialmente uma data 
sinasc$dia = "31"
sinasc$dt_merge ="31"

# Criar a variavel  Ano de nascimento "Ano.nasc", fazer tabela e grafico
class(sinasc$DTNASC)
sinasc <- sinasc %>% mutate(DTNASC = as.Date(DTNASC))
sinasc$Ano.nasc <- year(sinasc$DTNASC)
sinasc$mes.nasc <- month(sinasc$DTNASC)
sinasc$Ano.nasc <- as.factor(sinasc$Ano.nasc)
sinasc$mes.nasc <- as.factor(sinasc$mes.nasc)

sinasc <- sinasc %>% mutate(DTNASC = as.Date(DTNASC))
sinasc$ano <- year(sinasc$DTNASC)
sinasc$mes <- month(sinasc$DTNASC)
sinasc$ano <- as.factor(sinasc$Ano.nasc)
sinasc$mes <- as.factor(sinasc$mes.nasc)
sinasc$datacompleta <-  paste(sinasc$dia, sinasc$mes, sinasc$ano, sep = '-')

[1] "character"

No inicio do script selecionamos os dados do NV em Porto Alegre e com residência na mesma cidade. Assim, a variavel morafora apresenta só um valor. Entretanto, a variavel é útil quando são alterados os parametros selecionados.

In [160]:

###gerando local de residencia diferente do local de nascimento
sinasc$morafora <- if_else(sinasc$munResNome == "Porto Alegre", "NaO" , "sim")
table(sinasc$morafora)

  NaO
49422

In [161]:
#PREPARO PARA dummies
sinasc$LOCNASC_d <- sinasc$LOCNASC
# para LOCNASC  ordem "Hospital", "Domicilio", "Outros estabelecimentos de saúde",
# "Outros", "Ignorado
table(sinasc$LOCNASC)
class(sinasc$LOCNASC)
levels(sinasc$LOCNASC)
sinasc <- sinasc  %>%    mutate(LOCNASC = as.factor(LOCNASC))

                     Domicílio                       Hospital
                           230                          49111
Outro estabelecimento de saúde                         Outros
                             8                             72

[1] "character"

NULL

In [162]:
sinasc <- sinasc %>%
  mutate(IDADEMAE = as.character(IDADEMAE),
         IDADEMAE = as.numeric(IDADEMAE))

In [163]:
skim(sinasc$IDADEMAE) #observe que ha uma observaçao sem dados

── Data Summary ────────────────────────
                           Values
Name                       sinasc$IDADEMAE
Number of rows             49422
Number of columns          1
_______________________
Column type frequency:
  numeric                  1
________________________
Group variables            None

── Variable type: numeric ──────────────────────────────────────────────────────
  skim_variable n_missing complete_rate mean   sd p0 p25 p50 p75 p100 hist
1 data                  1          1.00 28.8 6.93 12  23  29  34   56 ▃▇▇▂▁

In [164]:
sinasc <- sinasc[!is.na(sinasc$IDADEMAE),] #retirando uma observaçao sem dados de idade

In [165]:
###substituindo missing no cod estabelecimento
sinasc$CODESTAB <-coalesce(sinasc$CODESTAB, "9999") # <- "ignorado"

In [166]:
class(sinasc$CODESTAB)
table(sinasc$CODESTAB)

[1] "character"

0000296 2237148 2237253 2237288 2237571 2237598 2237601 2237822 2237849 2262568
     30       3    5955       1    8855    3909    6429    4446      11    4768
2264587 2265052 2693402 2693801 3006522 3007847 6537650 7114893 7513151    9999
      1    3982       2       3    6935    3775       1       1      12     302

# Tipos de Partos

Aqui vemos que , em Porto Alegre, o número de partos vaginais é ligeiramente superior ao dos cesáreos.

In [167]:
table(sinasc$PARTO)

       Vaginal        Cesáreo       Ignorado Nao preenchido
         25069          24352              0              0

In [168]:
###sinasc$cesaria <- GERAR DUMMY
sinasc$cesareo <- sinasc$PARTO
sinasc["cesareo"][sinasc["cesareo"] == "Cesario"] <- "0" # 2 (cesario) transf em 1

In [169]:
sinasc <- sinasc %>%
  mutate(cesareo = as.factor(cesareo)) #as.factor e usado para categorias

In [170]:
table(sinasc$cesareo)
skim(sinasc$cesareo)

       Vaginal        Cesáreo       Ignorado Nao preenchido
         25069          24352              0              0

── Data Summary ────────────────────────
                           Values
Name                       sinasc$cesareo
Number of rows             49421
Number of columns          1
_______________________
Column type frequency:
  factor                   1
________________________
Group variables            None

── Variable type: factor ───────────────────────────────────────────────────────
  skim_variable n_missing complete_rate ordered n_unique
1 data                  0             1 FALSE          2
  top_counts
1 Vag: 25069, Ces: 24352, Ign: 0, Nao: 0

In [171]:
sinasc$idade_cat <- cut(sinasc$IDADEMAE,  # CRIANDO FAIXA ETARIA
                        breaks = c(10, 20, 35, 45, Inf), right = FALSE,
                        labels = c("10 a 19 anos", "20 a 34 anos", "35 a 44 anos", "45 anos ou mais"))

In [195]:
table(sinasc$idade_cat)

   10 a 19 anos    20 a 34 anos    35 a 44 anos 45 anos ou mais
           4818           32356           12093             154

In [172]:
sinasc$LOCNASC <- factor(sinasc$LOCNASC)

In [173]:
sinasc <- sinasc %>% mutate(RACACORMAE = factor(RACACORMAE, 
                                                levels = c("Branca", "Preta",
                                                           "Amarela", "Parda",
                                                           "Indigena", "Outras")))

# Colocar Branco, Amarela ou Indigena na categoria (nao-preta 0) e Preta e Parda na categoria Preta (1)

In [174]:
sinasc$RACACORMAE_d <- sinasc$RACACORMAE
sinasc <- sinasc %>% 
  mutate(RACACORMAE_d = recode(RACACORMAE_d      ,
                               "Preta"= "1"     ,
                               "Parda" = "1"    ,
                               "Branca" = "0"   ,
                               "Amarela" = "0"  ,
                               "Indigena" = "0" ,
                               "Outras" = "0"
  ))

In [175]:
sinasc <- sinasc %>%
  mutate(RACACORMAE_d = as.factor(RACACORMAE_d)) 
class(sinasc$RACACORMAE_d) #fornece o tipo da variavel

[1] "factor"

In [176]:
sinasc <- sinasc  %>% mutate(ESCMAE2010 =  factor(ESCMAE2010, 
                                                  levels = c("0","1","2", "3", "4","5" ,"9"), 
                                                  labels = c("Nenhuma","Fundamental I",
                                                             "Fundamental II", "Ensino medio","Superior incompleto", 
                                                             "Superior completo", "Ignorado")))

In [177]:
sinasc <- sinasc %>%
  mutate(CODESTAB = as.factor(CODESTAB))

In [178]:
sinasc$Hospital.nasc <- sinasc %>%
  mutate(Hospital.nasc = ifelse(LOCNASC == "Hospital", "Sim", "Nao")) %>%
  mutate( Hospital.nasc = factor(Hospital.nasc, levels = c("Sim", "Nao")) )

In [179]:
sinasc$peso_cat <-  cut(sinasc$PESO,  # CRIANDO categorias de peso
                        breaks = c(0, 2500, 3000, 4000, Inf), right = FALSE,
                        labels = c("Menos de 2500 g", "2500 g a 2999 g",
                                   "3000 g a 3999 g", "4000 g ou mais"))

In [180]:
sinasc$Qpeso <- cut(sinasc$PESO, breaks = c(0, 1000, 1500, 2500, Inf),
                    labels = c("extremo", "muito baixo", "baixo peso", "normal"),
                    include.lowest = T, right = T)
#  PESO > 1500 & peso <= 2500
#extr_bx_peso <- PESO <= 1000

In [181]:
class(sinasc$Qpeso)
summary(sinasc$Qpeso)

[1] "factor"

    extremo muito baixo  baixo peso      normal
        310         484        3968       44659

In [192]:
####VARIAVEL DE INTERESSE:::: dummy de baixo peso
sinasc$bp <- cut(sinasc$PESO, breaks = c(0, 2500, Inf),
                 labels = c("baixo peso", "normal"),
                 include.lowest = T, right = T)

In [193]:
table(sinasc$bp)

baixo peso     normal
      4762      44659

In [194]:
sinasc <- sinasc %>%
  mutate(bp = recode(bp,
                     "baixo peso" = "1",
                     "normal" = "0" ))

In [202]:
sinasc %>%  group_by(PARTO) %>%
  summarise(Media = mean(IDADEMAE) ,
            DP = sd(IDADEMAE), # desvio-padrao
            Mediana = median(IDADEMAE),
            Q1 = quantile(IDADEMAE, prob = 0.25),
            Q4 = quantile(IDADEMAE, prob = 0.90),
            n = n()
  )

  PARTO   Media    DP       Mediana Q1 Q4 n
1 Vaginal 26.82456 6.659462 26      21 36 25069
2 Cesáreo 30.92649 6.576922 32      26 39 24352

In [207]:
#contando observa por municipio  e mes
NV <- sinasc %>% 
  group_by(`CODESTAB`, ano) %>% 
  arrange("CODESTAB","mes","ano")%>%
  summarise(nascidos = n())


##tabela 2: Número de Nascidos por Hospital , 2018-2020
nv_por_hospital <- NV %>%
  pivot_wider(
    names_from = ano, # para criar as colunas, use a descrição que encontrar em 'ano'
    values_from = nascidos ) #coloque a var

`summarise()` has grouped output by 'CODESTAB'. You can override using the
`.groups` argument.

# Tabela 2: Nascidos Vivos por estabelecimentos, Porto Alegre, 2018-2020

In [209]:
nv_por_hospital

   CODESTAB 2018 2019 2020
1  0000296    30   NA   NA
2  2237148    NA    1    2
3  2237253  2195 1996 1764
4  2237288     1   NA   NA
5  2237571  2996 3002 2857
6  2237598  1303 1243 1363
7  2237601  2334 2043 2052
8  2237822  1462 1291 1693
9  2237849     5    6   NA
10 2262568  2035 1887  846
11 2264587    NA    1   NA
12 2265052  1062 1130 1790
13 2693402     1    1   NA
14 2693801     1    1    1
15 3006522  2537 2270 2128
16 3007847  1351 1457  967
17 6537650    NA   NA    1
18 7114893    NA   NA    1
19 7513151     7    4    1
20 9999      118   90   94

# Salvando o banco de dados

In [190]:
library(skimr)

In [210]:
str(sinasc)

'data.frame':	49421 obs. of  54 variables:
 $ CONTADOR     : chr  "1323003" "1323004" "1323005" "1323006" ...
 $ DTNASC       : Date, format: "2018-02-02" "2018-02-02" ...
 $ CODESTAB     : Factor w/ 20 levels "0000296","2237148",..: 8 8 8 8 8 8 8 8 8 15 ...
 $ CODMUNNASC   : chr  "431490" "431490" "431490" "431490" ...
 $ CODMUNRES    : chr  "431490" "431490" "431490" "431490" ...
 $ SEXO         : Factor w/ 2 levels "Feminino","Masculino": 2 1 1 1 2 2 1 1 1 1 ...
 $ PESO         : num  2700 3040 2700 4015 2615 ...
 $ RACACOR      : Factor w/ 5 levels "Amarela","Branca",..: 4 2 1 2 2 2 2 5 2 2 ...
 $ SEMAGESTAC   : num  38 40 31 43 42 38 40 37 36 39 ...
 $ PARIDADE     : Factor w/ 2 levels "Multipara","Nulipara": 1 2 1 2 1 1 1 1 2 1 ...
 $ PARTO        : Factor w/ 4 levels "Vaginal","Cesáreo",..: 1 1 1 2 1 1 1 1 2 2 ...
 $ TPAPRESENT   : chr  "1" "1" "1" "3" ...
 $ APGAR1       : num  5 5 3 5 5 1 5 2 5 5 ...
 $ IDADEMAE     : num  29 31 19 35 18 29 24 16 26 39 ...
 $ IDADEPAI     : num  NA NA NA NA NA NA NA NA NA NA ...
 $ ESTCIVMAE    : Factor w/ 5 levels "Casada","Separada judicialmente",..: 3 1 4 3 3 NA 1 3 1 4 ...
 $ ESCMAE       : Factor w/ 5 levels "1 a 3 anos","12 anos ou mais",..: 4 3 2 4 4 NA 4 3 4 2 ...
 $ ESCMAE2010   : Factor w/ 7 levels "Nenhuma","Fundamental I",..: 4 3 5 4 4 NA 4 3 4 6 ...
 $ RACACORMAE   : Factor w/ 6 levels "Branca","Preta",..: 4 1 3 1 1 1 1 2 1 1 ...
 $ LOCNASC      : Factor w/ 4 levels "Domicílio","Hospital",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ GESTACAO     : Factor w/ 6 levels "22 a 27 semanas",..: 4 4 2 5 5 4 4 4 3 4 ...
 $ CONSULTAS    : Factor w/ 4 levels "1 a 3 vezes",..: 3 3 2 3 3 4 3 2 3 3 ...
 $ CONSPRENAT   : num  10 15 5 14 11 1 11 5 12 11 ...
 $ GRAVIDEZ     : Factor w/ 3 levels "Dupla","Tripla e mais",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ QTDGESTANT   : num  1 4 1 3 1 NA 1 1 3 1 ...
 $ QTDPARTNOR   : num  1 1 1 2 1 NA 1 1 3 1 ...
 $ QTDPARTCES   : num  1 2 1 2 1 NA 1 1 1 1 ...
 $ TPROBSON     : num  1 5 10 9 1 1 2 1 10 2 ...
 $ KOTELCHUCK   : num  5 5 3 5 5 1 5 2 5 5 ...
 $ munResStatus : chr  "ATIVO" "ATIVO" "ATIVO" "ATIVO" ...
 $ munResTipo   : chr  "MUNIC" "MUNIC" "MUNIC" "MUNIC" ...
 $ munResNome   : chr  "Porto Alegre" "Porto Alegre" "Porto Alegre" "Porto Alegre" ...
 $ munResUf     : chr  "Rio Grande do Sul" "Rio Grande do Sul" "Rio Grande do Sul" "Rio Grande do Sul" ...
 $ munResLat    : chr  "-30.03004" "-30.03004" "-30.03004" "-30.03004" ...
 $ munResLon    : chr  "-51.22866" "-51.22866" "-51.22866" "-51.22866" ...
 $ munResAlt    : chr  "42" "42" "42" "42" ...
 $ munResArea   : chr  "496.682" "496.682" "496.682" "496.682" ...
 $ sexo_d       : Factor w/ 2 levels "Feminino","Masculino": 2 1 1 1 2 2 1 1 1 1 ...
 $ dia          : chr  "31" "31" "31" "31" ...
 $ dt_merge     : chr  "31" "31" "31" "31" ...
 $ Ano.nasc     : Factor w/ 3 levels "2018","2019",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ mes.nasc     : Factor w/ 12 levels "1","2","3","4",..: 2 2 2 2 1 2 3 3 4 3 ...
 $ ano          : Factor w/ 3 levels "2018","2019",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ mes          : Factor w/ 12 levels "1","2","3","4",..: 2 2 2 2 1 2 3 3 4 3 ...
 $ datacompleta : chr  "31-2-2018" "31-2-2018" "31-2-2018" "31-2-2018" ...
 $ morafora     : chr  "NaO" "NaO" "NaO" "NaO" ...
 $ LOCNASC_d    : chr  "Hospital" "Hospital" "Hospital" "Hospital" ...
 $ cesareo      : Factor w/ 4 levels "Vaginal","Cesáreo",..: 1 1 1 2 1 1 1 1 2 2 ...
 $ idade_cat    : Factor w/ 4 levels "10 a 19 anos",..: 2 2 1 3 1 2 2 1 2 3 ...
 $ RACACORMAE_d : Factor w/ 2 levels "0","1": 2 1 1 1 1 1 1 2 1 1 ...
 $ Hospital.nasc:'data.frame':	49421 obs. of  51 variables:
  ..$ CONTADOR     : chr  "1323003" "1323004" "1323005" "1323006" ...
  ..$ DTNASC       : Date, format: "2018-02-02" "2018-02-02" ...
  ..$ CODESTAB     : Factor w/ 20 levels "0000296","2237148",..: 8 8 8 8 8 8 8 8 8 15 ...
  ..$ CODMUNNASC   : chr  "431490" "431490" "431490" "431490" ...
  ..$ CODMUNRES    : chr  "431490" "431490" "431490" "431490" ...
  ..$ SEXO         : Factor w/ 2 levels "Feminino","Masculino": 2 1 1 1 2 2 1 1 1 1 ...
  ..$ PESO         : num  2700 3040 2700 4015 2615 ...
  ..$ RACACOR      : Factor w/ 5 levels "Amarela","Branca",..: 4 2 1 2 2 2 2 5 2 2 ...
  ..$ SEMAGESTAC   : num  38 40 31 43 42 38 40 37 36 39 ...
  ..$ PARIDADE     : Factor w/ 2 levels "Multipara","Nulipara": 1 2 1 2 1 1 1 1 2 1 ...
  ..$ PARTO        : Factor w/ 4 levels "Vaginal","Cesáreo",..: 1 1 1 2 1 1 1 1 2 2 ...
  ..$ TPAPRESENT   : chr  "1" "1" "1" "3" ...
  ..$ APGAR1       : num  5 5 3 5 5 1 5 2 5 5 ...
  ..$ IDADEMAE     : num  29 31 19 35 18 29 24 16 26 39 ...
  ..$ IDADEPAI     : num  NA NA NA NA NA NA NA NA NA NA ...
  ..$ ESTCIVMAE    : Factor w/ 5 levels "Casada","Separada judicialmente",..: 3 1 4 3 3 NA 1 3 1 4 ...
  ..$ ESCMAE       : Factor w/ 5 levels "1 a 3 anos","12 anos ou mais",..: 4 3 2 4 4 NA 4 3 4 2 ...
  ..$ ESCMAE2010   : Factor w/ 7 levels "Nenhuma","Fundamental I",..: 4 3 5 4 4 NA 4 3 4 6 ...
  ..$ RACACORMAE   : Factor w/ 6 levels "Branca","Preta",..: 4 1 3 1 1 1 1 2 1 1 ...
  ..$ LOCNASC      : Factor w/ 4 levels "Domicílio","Hospital",..: 2 2 2 2 2 2 2 2 2 2 ...
  ..$ GESTACAO     : Factor w/ 6 levels "22 a 27 semanas",..: 4 4 2 5 5 4 4 4 3 4 ...
  ..$ CONSULTAS    : Factor w/ 4 levels "1 a 3 vezes",..: 3 3 2 3 3 4 3 2 3 3 ...
  ..$ CONSPRENAT   : num  10 15 5 14 11 1 11 5 12 11 ...
  ..$ GRAVIDEZ     : Factor w/ 3 levels "Dupla","Tripla e mais",..: 3 3 3 3 3 3 3 3 3 3 ...
  ..$ QTDGESTANT   : num  1 4 1 3 1 NA 1 1 3 1 ...
  ..$ QTDPARTNOR   : num  1 1 1 2 1 NA 1 1 3 1 ...
  ..$ QTDPARTCES   : num  1 2 1 2 1 NA 1 1 1 1 ...
  ..$ TPROBSON     : num  1 5 10 9 1 1 2 1 10 2 ...
  ..$ KOTELCHUCK   : num  5 5 3 5 5 1 5 2 5 5 ...
  ..$ munResStatus : chr  "ATIVO" "ATIVO" "ATIVO" "ATIVO" ...
  ..$ munResTipo   : chr  "MUNIC" "MUNIC" "MUNIC" "MUNIC" ...
  ..$ munResNome   : chr  "Porto Alegre" "Porto Alegre" "Porto Alegre" "Porto Alegre" ...
  ..$ munResUf     : chr  "Rio Grande do Sul" "Rio Grande do Sul" "Rio Grande do Sul" "Rio Grande do Sul" ...
  ..$ munResLat    : chr  "-30.03004" "-30.03004" "-30.03004" "-30.03004" ...
  ..$ munResLon    : chr  "-51.22866" "-51.22866" "-51.22866" "-51.22866" ...
  ..$ munResAlt    : chr  "42" "42" "42" "42" ...
  ..$ munResArea   : chr  "496.682" "496.682" "496.682" "496.682" ...
  ..$ sexo_d       : Factor w/ 2 levels "Feminino","Masculino": 2 1 1 1 2 2 1 1 1 1 ...
  ..$ dia          : chr  "31" "31" "31" "31" ...
  ..$ dt_merge     : chr  "31" "31" "31" "31" ...
  ..$ Ano.nasc     : Factor w/ 3 levels "2018","2019",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ mes.nasc     : Factor w/ 12 levels "1","2","3","4",..: 2 2 2 2 1 2 3 3 4 3 ...
  ..$ ano          : Factor w/ 3 levels "2018","2019",..: 1 1 1 1 1 1 1 1 1 1 ...
  ..$ mes          : Factor w/ 12 levels "1","2","3","4",..: 2 2 2 2 1 2 3 3 4 3 ...
  ..$ datacompleta : chr  "31-2-2018" "31-2-2018" "31-2-2018" "31-2-2018" ...
  ..$ morafora     : chr  "NaO" "NaO" "NaO" "NaO" ...
  ..$ LOCNASC_d    : chr  "Hospital" "Hospital" "Hospital" "Hospital" ...
  ..$ cesareo      : Factor w/ 4 levels "Vaginal","Cesáreo",..: 1 1 1 2 1 1 1 1 2 2 ...
  ..$ idade_cat    : Factor w/ 4 levels "10 a 19 anos",..: 2 2 1 3 1 2 2 1 2 3 ...
  ..$ RACACORMAE_d : Factor w/ 2 levels "0","1": 2 1 1 1 1 1 1 2 1 1 ...
  ..$ Hospital.nasc: Factor w/ 2 levels "Sim","Nao": 1 1 1 1 1 1 1 1 1 1 ...
 $ peso_cat     : Factor w/ 4 levels "Menos de 2500 g",..: 2 3 2 4 2 1 3 2 2 3 ...
 $ Qpeso        : Factor w/ 4 levels "extremo","muito baixo",..: 4 4 4 4 4 3 4 4 4 4 ...
 $ bp           : Factor w/ 2 levels "1","0": 2 2 2 2 2 1 2 2 2 2 ...

Escolha o formato mais adequado para salvar os seus dados. Os formatos txt e csv são os mais utilizados em ciências de dados.

In [184]:
save(sinasc, file = "dados_nasc_POA_bruto.RData")
####################
write.csv(sinasc,"dados_POA.csv")

**PARABÉNS!!!** VOCÊ ACABOU DE CONCLUIR O SEU BANCO DE DADOS COM INFORMAÇÕES DOS HOSPITAIS DE PORTO ALEGRE